## Q1. Create a DataFrame from the given dictionary data and index labels and store it in the variable called “df”

In [7]:
import pandas as pd

# Input 
data = {'Artist': ['Ariana Grande', 'Taylor Swift', 'Ed Sheeran', 'Justin Bieber', 'Lady Gaga', 'Bruno Mars'],
        'Genre': ['Jazz', 'Rock', 'Jazz', 'Pop', 'Pop', 'Rock'],
        'Listeners': [1300000, 2700000, 5000000, 2000000, 3000000, 1100000]}

labels = ['AG', 'TS', 'ED', 'JB', 'LG', 'BM']

# Your solution goes here
df = pd.DataFrame(data, index=labels)

df

           Artist Genre  Listeners
AG  Ariana Grande  Jazz    1300000
TS   Taylor Swift  Rock    2700000
ED     Ed Sheeran  Jazz    5000000
JB  Justin Bieber   Pop    2000000
LG      Lady Gaga   Pop    3000000
BM     Bruno Mars  Rock    1100000

## Q2. a) Select the column labelled “Listeners” and store it in the variable called “col”.

In [13]:
col = df['Listeners']
col

AG    1300000
TS    2700000
ED    5000000
JB    2000000
LG    3000000
BM    1100000
Name: Listeners, dtype: int64

## Q2.  b) Select the first row and store it in the variable called “row”.

In [10]:
row = df.iloc[0]
row

Artist       Ariana Grande
Genre                 Jazz
Listeners          1300000
Name: AG, dtype: object

## Q3. Select all the rows where the Genre is ‘Pop’ and store the result in the variable “pop_artists”.

In [16]:
pop_artists = df[df['Genre'] == 'Pop']
pop_artists

           Artist Genre  Listeners
JB  Justin Bieber   Pop    2000000
LG      Lady Gaga   Pop    3000000

## Q4. Select the artists who have more than 2,000,000 listeners and whose Genre is ‘Pop’ and save the output in the variable called “top_pop”.

In [21]:
top_pop = df[(df['Genre'] == 'Pop') & (df['Listeners']> 2000000)]
top_pop

       Artist Genre  Listeners
LG  Lady Gaga   Pop    3000000

## Q5. Perform a grouping by Genre using sum() as the aggregation function and store the results in the variable called “grouped”.

In [26]:
grouped = df.groupby('Genre').sum()
grouped

       Listeners
Genre
Jazz     6300000
Pop      5000000
Rock     3800000